@model EventNowASP.Models.Evento

@{
    ViewBag.Title = "NotFount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Ups!</h1>
    <p class="lead">Pagina no encontrada.</p>
    <hr class="my-4">
</div>

